

.textfield{
  margin-top: 10px;
  margin-bottom: 15px;

}
.update{
  margin-left: 10px;
  margin-top: 15px;
 
}

.btn{
  margin-top: 15px;
}
.resultupdate{
  margin-top:20px;
}
.fatechData{
  margin-top: 13px;
}
.container{
  margin-top: 10px;
  margin-left: 10px;
}
.heading{
  margin-top: 8px;
  margin-bottom: 15px;
}

.tab {
  display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tablinks {
  width: 50%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab .active {
  background-color: #ccc;
}
